@media screen and (max-width: 480px) {
	body {
		padding: 60px 40px 50px 20px;
	}

	#justifybox {
		display: block;
	}

	.copywrapper, #ghostbox {
		width: 90%;
		display: block;
		margin-bottom: 50px;
	}

	#ghostbox {
		text-align: center;
		margin-top: 80px;
	}
  
    ul {
      padding: 0;
    }
  
    hr.links {
      display: block;
      border-top: 0;
      border-bottom: solid #fff 2px;
      width: 100%;
      margin: 5px 0 7px 0;
    }

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2em;
		margin-bottom: 70px;
	}

	#spinlist {
		display: block;
	}

	svg#logo {
		height: 5em;
	}

}