/* Normalizing
------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}


/* Stylin
------------------------*/
body {
  background-color: #f4ae9d;
  padding: 100px 0;
}

.container {
  max-width: 800px;
  margin: 0 0 0 10%;
}

h1 {
  font-family: 'Brandon-Grotesque';
  font-size: 5.5em;
  line-height: 1.1em;
  color: #fff;
  text-transform: lowercase;
  margin: 0 20px 0 0;
  display: inline-block;
}

svg#logo {
  height: 4em;
  fill: #fff;
  margin: 0;
}

h2 {
  font-family: 'Brandon-Grotesque';
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 100;
  color: #fff;
  margin-bottom: 100px;
}

hr {
  border-top: 0;
  border-bottom: solid #fff 4px;
  margin: 30px 0;
  width: 80%;
}

p {
  font-family: 'Adobe-Caslon-Pro';
  color: #fff;
  font-size: 1.3em;
  margin: 0;
  line-height: 1.5em;
}

p a {
  text-decoration: underline;
  font-style: italic;
}

#justifybox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.copywrapper {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}