/* Normalizing
------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: none;
}


/* Stylin
------------------------*/
body {
  background-color: #f4ae9d;
  padding: 100px 0 100px 30px;
}

.container {
  max-width: 800px;
  margin: 0 0 0 10%;
}

h1 {
  font-family: 'Brandon-Grotesque';
  font-size: 5.5em;
  line-height: 1.1em;
  color: #fff;
  text-transform: lowercase;
  margin: 0 20px 0 0;
  display: inline-block;
}

h2 {
  font-family: 'Brandon-Grotesque';
  font-size: 3.5em;
  line-height: 1.3em;
  font-weight: 100;
  color: #fff;
  margin-bottom: 100px;
}

svg#logo {
  height: 4em;
  fill: #fff;
  margin: 0 0 0 10px;
}

hr {
  border-top: 0;
  border-bottom: solid #fff 4px;
  margin: 30px 0;
  width: 80%;
}

p {
  font-family: 'Adobe-Caslon-Pro';
  color: #fff;
  font-size: 1.3em;
  margin: 0;
  line-height: 1.5em;
}

/*p a {
  text-decoration: underline;
  font-style: italic;
}*/

li {
  margin-bottom: 0.07em;
}

li a {
  font-family: 'Adobe-Caslon-Pro', Garamond, Georgia, serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  line-height: normal;
}

a:hover {
  text-decoration: underline;
}

#justifybox {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.copywrapper {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

#ghostbox {
  text-align: left;
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
}


/*svg Animation - needs hover trigger
------------------------
#righteye, #lefteye {
  animation-name: blink;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  transform-origin: 50%;
  animation-play-state: running;
}

@keyframes blink { 
  0% { transform: scaleX(1) scaleY(1); }  
  60% { transform: scaleX(1) scaleY(1); } 
  61% { transform: scaleX(1.3) scaleY(0.1); } 
  62% { transform: scaleX(1) scaleY(1); } 
  100% { transform: scaleX(1) scaleY(1); }
}
*/

/* h2 Animation
------------------------*/
#spinwrapper {
  position: relative;
}

#spinlist {
  display: inline;
}

#spinlist span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 16s linear infinite 0s;
	-ms-animation: rotateWord 16s linear infinite 0s;
	animation: rotateWord 16s linear infinite 0s;
}

#spinlist span:nth-child(2) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
}

#spinlist span:nth-child(3) { 
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 	
}

#spinlist span:nth-child(4) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12; 
}

#spinlist span:nth-child(5) { 
    -webkit-animation-delay: 16s; 
	-ms-animation-delay: 16s; 
	animation-delay: 16s; 
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	4% { opacity: 1; -webkit-transform: translateY(0px);}
    25% { opacity: 1; -webkit-transform: translateY(0px); }
	27% { opacity: 0; -webkit-transform: translateY(30px); }
	90% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	4% { opacity: 1; -ms-transform: translateY(0px);}
    25% { opacity: 1; -ms-transform: translateY(0px); }
	27% { opacity: 0; -ms-transform: translateY(30px); }
	90% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	4% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    25% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	27% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	90% { opacity: 0; }
    100% { opacity: 0; }